.dataList {
  margin: 0 auto;
  padding: 15px;
  font-size: 14px;
  font-family: 'OpenSans';
  color: rgb(51, 51, 51);
  line-height: 1.067;
  text-align: center;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.filmList {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  list-style: none;
}

.allListButton {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 280px;
  height: 32px;
  border-style: solid;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  background-color: rgba(129, 83, 140, 0);

  font-family: 'Myriad Pro';
  color: rgb(153, 153, 153);
  line-height: 0.269;
  text-align: center;
}
